
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);*/
/*@import url(http://fonts.googleapis.com/css?family=Exo:400,700,400italic,700italic);*/

@import "terminal.css";
@import "image.css";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

html {
    color: #38f;
    font-family: "Exo", sans-serif;
    text-shadow: 0 0 4px #38f;
}

html:hover {
    cursor: url("../images/cursor.png"),auto;
}

body {
    background: #000 url("../images/background.jpg");
    background-size: auto 100%;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

