
#terminal {
    background: url("../images/terminal-bg.png") right top repeat-y;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", monospace;
    height: 100%;
    margin: 0;
    padding: 0 3px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 70%;
    max-width: 2048px;
}

#terminal::-webkit-scrollbar {
    width: 0px;
}

.line {
    white-space: pre-wrap;
}

#cursor {
    border-bottom: 2px solid #fff;
}

.output.error {
    color: #f44;
    font-weight: bold;
}

.prompt, .command {
    color: #fff;
}

#input {
    color: #fff;
}