
#user {
    border-bottom: 4px solid #38f;
    position: relative;
    width: 100%;
}

#user img {
    width: 100%;
}

#user .caption {
    background-color: rgba(0,0,0,0.8);
    border-top: 2px solid #38f;
    box-sizing: border-box;
    display: block;
    padding: 3px 10px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

